menu "YKB Subsystems"

    rsource "bt_connect/Kconfig"
    rsource "kb_settings/Kconfig"
    rsource "splitlink/Kconfig"
    rsource "vendor_hid/Kconfig"
    rsource "ykb_battsense/Kconfig"
    rsource "usb_connect/Kconfig"
    rsource "kb_handler/Kconfig"
    rsource "ykb_backlight/Kconfig"
    rsource "ykb_metrics/Kconfig"
    rsource "ykb_power/Kconfig"

endmenu
