menuconfig KB_SETTINGS
    bool "Enable KB Settings subsystem"
    depends on KB_HANDLER
    select SETTINGS

if KB_SETTINGS

    module = KB_SETTINGS
    module-str = kb_settings
    source "subsys/logging/Kconfig.template.log_config"

    ZEPHYR_USER := zephyr,user
    KB_HANDLER_PATH := $(dt_nodelabel_path,kb_handler)

    config KB_SETTINGS_KEY_COUNT
        int
        default $(dt_node_int_prop_int,/$(ZEPHYR_USER),kb-handler-key-count)

    config KB_SETTINGS_KEY_COUNT_SLAVE
        int
        depends on $(dt_node_has_prop,/$(ZEPHYR_USER),kb-handler-key-count-slave)
        default $(dt_node_int_prop_int,/$(ZEPHYR_USER),kb-handler-key-count-slave)

    config KB_SETTINGS_INIT_PRIORITY
        int "Init priority"
        default 140

    config KB_SETTINGS_FN_SHORTCUTS_MAX
        int "Maximum amount of runtime-configurable FN shortcuts"
        default 16

endif # KB_SETTINGS
