config VENDOR_HID
    bool "Enable Vendor HID subsystem/library for communicating with host via vendor HID device"

if VENDOR_HID

    module = VENDOR_HID
    module-str = vendor_hid
    source "subsys/logging/Kconfig.template.log_config"

    choice VENDOR_HID_PROTOCOL_IMPL
        prompt "Vendor HID protocol implementation"
        default VENDOR_HID_PROTOCOL_YKB

        config VENDOR_HID_PROTOCOL_YKB
            bool "Use YKB protocol"

    endchoice # VENDOR_HID_PROTOCOL_IMPL

endif # VENDOR_HID
