if KB_HANDLER_SPLITLINK

    choice KB_HANDLER_SPLITLINK_HANDLER_IMPL
        prompt "Splitlink driver handler"
        
        config KB_HANDLER_SPLITLINK_HANDLER_IMPL_YKB_PROTO
            bool "Splitlink driver handler over YKB protocol"

    endchoice

    if KB_HANDLER_SPLITLINK_HANDLER_IMPL_YKB_PROTO

        config KB_HANDLER_SL_OUT_OF_ORDER_TRACK
            bool "Enable out-of-order feature of YKB protocol"
            default y if SPLITLINK_BT
            default n

        config KB_HANDLER_SL_BITMAP_LENGTH
            int "Bitmap length for out-of-order feature"
            depends on KB_HANDLER_SL_OUT_OF_ORDER_TRACK
            default 32
            range 1 256

        config KB_HANDLER_SL_BENCHMARK
            bool "Enable Splitlink RTT benchmark"
            default n

        config KB_HANDLER_SL_BENCHMARK_INTERVAL_MS
            int "Splitlink RTT benchmark interval in ms"
            depends on KB_HANDLER_SL_BENCHMARK
            default 1000
            range 1 60000

        config KB_HANDLER_SL_BENCHMARK_PAYLOAD_SIZE
            int "Splitlink RTT benchmark payload size"
            depends on KB_HANDLER_SL_BENCHMARK
            default 16
            range 0 48

    endif # KB_HANDLER_SPLITLINK_HANDLER_IMPL_YKB_PROTO

endif # KB_HANDLER_SPLITLINK
