config KSCAN_MUXES
    bool "Enable KScan driver for polling with multiplexers"
    depends on DT_HAS_KSCAN_MUXES_ENABLED
    default y
    select MUX

if KSCAN_MUXES

    config KSCAN_MUXES_MUX_TOGGLE
        bool "Enable/disable multiplexers on each scan"
        default n

endif # KSCAN_MUXES
